<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interligações de Classe e Estilo</title>
    <script src="https://unpkg.com/vue@next"></script>
</head>

<body>
    <div id="app">
        <h1 v-if="awesome">Vue é incrível!</h1>
        <h1 v-else>Oh não 😢</h1>

        <template v-if="ok">
            <h1>Título</h1>
            <p>Parágrafo 1</p>
            <p>Parágrafo 2</p>
        </template>

        <a href="../6-renderizacao-listas/index.html">Renderização de Listas</a>
    </div>

    <!-- Importe da Aplicação -->
    <script src="./app.js"></script>
</body>

</html>