@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Ubuntu&display=swap');

html {
	scroll-behavior: smooth;
    background-color: rgb(35, 144, 35, 0.5);
    padding: 0;
    margin: 0;
    display: flex;
}

body {
    margin: 0;
}

header {
    width: 100%;
    padding: 0;
    position: fixed;
    display: flex;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}

main {
    display: contents;
}

section {
	margin: 5%;
    padding: 2%;
    border-radius: 12px;
    box-shadow: 2px 2px 5px;
}

h1, h2 {
    font-family: Ubuntu, sans-serif;
}

p {
    font-family: Lora, serif;
    font-size: medium;
    line-height: 150%   ;
}


#Informacoes_Nutricionais{
    
}

#Tipos_de_Maca{

}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

.card {
    width: 350px;
    padding: 1.5%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 12px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

#Beneficios.card{
    
}

#Informacoes_Nutricionais p{

}

#Tipos_de_Maca p{

}

#Beneficios p{

}

