<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Básico sobre Componentes</title>
    <script src="https://unpkg.com/vue@next"></script>
</head>

<body>
    <div id="components-demo">
        <button-counter></button-counter>
        <button-counter></button-counter>
        <button-counter></button-counter>
        <div :style="{fontSize: postFontSize + 'em'}">
            <blog-post v-for="post in posts" :key="post.id" :title="post.title" @enlarge-text="postFontSize += $event"
                @diminuir-text="postFontSize -= $event"></blog-post>
        </div>

        <div>
            <input v-model="searchText" />
            <input :value="searchText" @input="searchText = $event.target.value" />
            <custom-input :model-value="searchText" @update:model-value="searchText = $event"></custom-input>
            <custom-input1 v-model="searchText">
                </custom-input>
        </div>
        <br>

        <alert-box>Deu ruim!</alert-box>

        <div>

        </div>
        
    </div>

    <!-- Importe da Aplicação -->
    <script src="./app.js"></script>
</body>

</html>